# --- Ignore everything by default ---
*

# --- Keep repository metadata ---
!.gitignore
!README.md

# --- Keep your HPC Python scripts ---
!hpc_python/
!hpc_python/**

# --- Keep your HPC SLURM scripts ---
!hpc_slurm/
!hpc_slurm/**

# --- Ignore large or irrelevant content ---
data/
results/
envs/
miniconda3/
Reference_genomes_and_databases/
humann_project/
kneaddata_project/
**/*.fastq*
**/*.fq
**/*.bam
**/*.sam
**/*.gz
**/*.tar*
**/*.zip
**/*.log
