# --- Ignore everything by default ---
*

# --- Keep your HPC SLURM scripts ---
!hpc_slurm/**
!.gitignore
!README.md

# --- Ignore large or irrelevant content ---
data/
results/
envs/
miniconda3/
Reference_genomes_and_databases/
humann_project/
kneaddata_project/
**/*.fastq*
**/*.fq
**/*.bam
**/*.sam
**/*.gz
**/*.tar*
**/*.zip
**/*.log
!hpc_python/**
