# --- Ignore everything by default ---
*

# --- Track your SLURM scripts folder ---
!hpc_slurm/**
!.gitignore
!README.md

# --- Ignore large data and envs ---
data/
results/
envs/
miniconda3/
Reference_genomes_and_databases/
humann_project/
kneaddata_project/
**/*.fastq*
**/*.fq
**/*.bam
**/*.sam
**/*.gz
**/*.tar*
**/*.zip
**/*.log
